[submodule "sublime/Packages/Theme - Spacegray"]
	path = sublime/Packages/Theme - Spacegray
	url = git@github.com/kkga/spacegray.git
[submodule "terminal/themes/honukai-iterm-zsh"]
	path = terminal/themes/honukai-iterm-zsh
	url = git@github.com:oskarkrawczyk/honukai-iterm-zsh.git
[submodule "terminal/completion"]
	path = terminal/completion
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "terminal/highlight"]
	path = terminal/highlight
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
