[submodule "sublime/Packages/Theme"]
	path = sublime/Packages/Theme
	url = https://github.com/kkga/spacegray.git
[submodule "terminal/themes/honukai-iterm-zsh"]
	path = terminal/themes/honukai-iterm-zsh
	url = https://github.com/oskarkrawczyk/honukai-iterm-zsh.git
[submodule "terminal/completion"]
	path = terminal/completion
	url = https://github.com/zsh-users/zsh-completions.git
